anyio==4.5.2
beautifulsoup4==4.14.3
certifi==2026.4.22
chardet==3.0.4
charset-normalizer==3.4.7
click==8.1.8
deep-translator==1.11.4
exceptiongroup==1.3.1
googletrans==4.0.0rc1
gTTS==2.5.4
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==0.17.3
httpx==0.24.1
hyperframe==5.2.0
idna==2.10
pytelegrambotapi==4.23.0
requests==2.32.4
rfc3986==1.5.0
sniffio==1.3.1
soupsieve==2.7
typing-extensions==4.13.2
urllib3==2.2.3
